<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
	<hr />
	<div class="footer-link">
		{% if site.author.facebook %}
		<a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="ssk ssk-icon ssk-facebook" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.twitter %}
		<a href="https://twitter.com/{{ site.author.twitter }}"><i class="ssk ssk-icon ssk-twitter" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.github %}
		<a href="https://github.com/{{ site.author.github }}"><i class="ssk ssk-icon ssk-github" aria-hidden="true"></i></a>
		{% endif %}

	</div>
	© 2016 {{ site.author.name }}. All rights reserved.
</div>
