<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} coder blog </title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1>coder blog </h1>
    <header>
 
    <!--nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav-->

    <br/>
<p>
Welcome to liwei's blog
</p>
<p>
  iOS Devloper.
  <br/> 
  app store name 'fisherlee'.
  <br/>
  <h3>Gif Album: <a href="https://itunes.apple.com/us/app/gif-album/id511621925?mt=8">Gif Album</a></h3>
  <br/>
  <h3>A Twitter Tool,text transformed images: <a href="https://itunes.apple.com/us/app/text-to-image-twitter-tool/id500391676?mt=8">Text to Image:Twitter tool</a></h3>
  <br/>
  <h3>PrivacyContact: <a href="https://itunes.apple.com/us/app/privacycontact/id486813758?mt=8">PrivacyContact</a></h3>
</p>
 
    <!--{{ content }}-->
 
    <footer>
      <p>@copy; Li Wei 2013 | All Rights Reserved. </p>
    </footer>
 
  </div>
</body>
</html>

